DATABASE_URL="postgresql://postgres:[password]@db.[project-ref].supabase.co:5432/postgres"
PORT=4000

# Stellar / Soroban
SOURCE_SECRET=""
SOROBAN_RPC_URL="https://soroban-testnet.stellar.org"

# WASM Hashes (subidos una sola vez a la red)
TOKEN_FACTORY_WASM_HASH=""
PARTICIPATION_TOKEN_WASM_HASH=""
VAULT_WASM_HASH=""

BACKOFFICE_API_KEY= "26fefb1fcf7709502edd4ac954572a89ce57273c33545347583697520091f6c3"
INVESTORS_API_KEY= "6b201882a3360c3b22e688a71941eb14face373e88038fa51be2bfb86d50be9d"
# Deployer Contract
DEPLOYER_CONTRACT_ID=""
